<!DOCTYPE html>
<html>
<head>
  <title>Basic HTML Page</title>

</head>

<body>
  <h1></h1>

  <h2>Please submit file</h2>
  <br><br>

  <li><form action="/create_file" method="post">
    <label for="task_name">File name:</label>
    <input type="text" id="article" name="article" value= <%= file %> > </li>

    <input type="submit">
  </form>
</body>
</html>
